<a href="https://colab.research.google.com/github/Clinpharm26/Clinpharm26/blob/main/GrowthMentor_Python_Assessment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

  >>>>>>>>>>  ![alt text](https://city.ai/wp-content/uploads/formidable/13/banner_empty_rotterdam_ai-2.png)

-----------------------------------------

 >>>>>>>>![alt text](https://python.rs/pylogo.png)

# 

**Table of Contents**
3. [Python Variables and Data types](#python-variables-and-data-types)
4. [Python Operations](#python-operations)
5. [Strings and their Methods](#strings-and-their-methods)
6. [Collections](#collections)
7. [Errors](#errors)

In [2]:
#######################################################
################### Challenge 1 #######################
#######################################################

# Print the name of your city
city = "Dubai"
print(city)

Dubai

<a id='python-variables-and-data-types'></a>
## Python Variables and Data types

### Variables

In [1]:
x = 7
y = "UAE"

# Print the x and y variables
print(x,y)

7 UAE

Python variables are generally in lower case (Snake case) and separated by underscores.

In [2]:
# Create a variable to which you assign your name, then print the variable.
name="Aisha"
print(name)

Aisha

### Data Types

#### Numbers

There are three different types of numbers in Python: **int** for Integer, **Float**, and **Complex**.

In [ ]:
# What is the type of following variables? Integers
x = 10
y = -19
z = 0

In [ ]:
# What is the type of following variables? Float
x = 3.141592653589793238462643383279502884197169
y = -10.223
z = 0.1

In [ ]:
# What is the type of following variable? Complex
x = 42j

In [ ]:
# What is the type of following variables? Boolean

x = True
y = False

Surprisingly, the boolean types True and False are also numbers under the hood. So we can actually do things like add or subtract.

* True is 1 under the hood.
* False is 0 under the hood.

In [36]:
# Print the integer value of a boolean ?
x= "True"
print(int(x==1))

0

#### Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [3]:
x = 'hello'
y = "hello"
print(x)
print(y)

hello
hello

**Concatenating Strings**

In [6]:
salutation = "Hello"
first_name = "Max"
last_name = "James"

# Concatenate the 3 string variables with a space in between and print it out.

string = salutation + " " + first_name + " " + last_name
print(string)

Hello Max James

To use the same type of quote within a string, that quote needs to be escaped with a \ - backwards slash.

In [5]:
# Create a string variable which stores the following value "It's my mom's birthday tomorrow" and print it out.
# Note the single quote used as apostrophe !!!.
value= "It's my mom's birthday tomorrow"
print(value)

It's my mom's birthday tomorrow

Mixed quotes can be used instead in a Python string without escaping.

**Common String Errors**

In [9]:
#######################################################
################### Challenge 2 #######################
#######################################################

# Come up with possible solutions for the error below
# Trying to concatenate a string with a number
error1 = "family" + str(3)
print(error1)

x = 3
error2 = "family" + str(x)
print(error2)

family3
family3

In [4]:
#######################################################
################### Challenge 3 #######################
#######################################################

# Come up with possible solutions for the error below
# Trying to print a string with mismatching string quotes
error2 = "I love my" +" family"
print(error2)

I love my family

**String Formatting**

<details>
<summary><b>Pro Tip</b> (Click to Expand)</summary>
You can find out the data type by using Python's built in function, type(). __type()__ tells you what an object’s type is, for example a string (str) or integer (int).
</details>

#### Casting

In [12]:
# Print the following integer variable as a string by making use of the casting technique.
x = 9
print(str(x))

9

In [14]:
# Print the following  variable as an integer by making use of the casting technique.
x = '5'
print(int(x))

5

**Note:**
1. Python Variables can't start with a number.
Python Variables must start with a letter or the underscore character.
2. Variable names can't contain special characters such as '!', '@', '#', '$', '%'.
3. Your Python variables shouldn't be named 'and', 'if', 'while', 'True', 'False' because Python uses these names for program control structure. 
4. Don't give your variables the same name as our data types. For example: Don't name your variable int, dict, list, str, etc.
Variable names are case sensitive. For example: King, king and KING are different variable names. Please beware.

**TODO:**

<a id='python-operations'></a>
### Python Operations

**Arithmetic Operators**
1. Addition +
2. Subtraction -
3. Multiplication *
4. Division /
5. Floor division //
6. Modulus (remainder) %
7. Exponentiation **
8. Matrix multiplication @

In [2]:
# Calculate & print the results of the following:
# the remainder of 13 divided to 2
# is number 21 divisible to 3
# 2 to the power 3
# floor division of 20 to 3 by making using of the corresponding operator

x =13%2
print(x)

answer=21/3
print(answer)

y = 2**3
print(y)

fd = 20//3
print(fd)

1
7.0
8
6

In [9]:
#######################################################
################### Challenge 4 #######################
#######################################################

# Rewrite the code so that it accepts user input height and weight and uses that to calculate the BMI.
height = float(input("enter your height in cm: 1.74"))
weight = float(input("enter your weight in kg: 80"))

bmi = weight /height ** 2

print("BMI is: " + str(bmi))

KeyboardInterrupt: ignored

**In-Place Operations**

**Comparison Operators**
1. Equal ==
2. Not equal !=
3. Greater than >
4. Less than <
5. Greater than or equal to >=
6. Less than or equal to <=

In [17]:
# a > b
# a < b
# a >= b
# a <= b

a = 10
b = 4.5

# Print if a is smaller than b
print(a<b)

False

**Logical Operators**
1. and
2. or
3. not

In [20]:
a = 5
b = 6

# Print if a is 5 and b is 6
print(a==5 and b==6)

# Print if a has a value between 4 and 6,including 4 and 6
print(4<=a<=6)

True
True

Python has other operators such as the **Bitwise**, **Membership** and **Identity** Operators.

**TODO:**
1. Calculate your daily expenses, by taking your monthly expenses and diving it by 30. Given that your monthly expenses is €800.
2. What is the value of a in "a = -1 ** 2"?
3. What is the value of b in "b = 99 >= 3**4 and 70 == 7 * 10 or 12 != 3 * 4"?
4. Accept a number from a user, print whether it is divisible by ten and greater than hundred.

In [ ]:
#######################################################
################### Challenge 5 #######################
#######################################################

# 1.Calculate your daily expenses, by taking your monthly expenses and diving it by 30. Given that your monthly expenses is €800.
# 2. What is the value of a in "a = -1 ** 2"? 1
# 3. What is the value of b in "b = 99 >= 3*4 and 70 == 7 * 10 or 12 != 3 * 4"? I don'tunderstand this one.
# 4. Accept a number from a user, print whether it is divisible by ten and greater than hundred.

daily_expenses = 800 / 30

<a id='strings-and-their-methods'></a>
### Strings & their Methods

A method is a function that is specific to a certain "object" in Python. Python has a set of built-in methods that you can use on strings.

In [8]:
var = "growth mentor"
print(var.replace('r', 'l'))

# Replace the letter 'r' with 'l' inside the string stored in var variable.

glowth mentol

Length of a words/ sentence or a paragraph can be calculated by simply calling a built-in function  -> which in fact gives the number of characters.

In [23]:
# What is the length of the following string
variable = 'I am excited to code in Python. This is awesome!'
print(len(variable))

48

In [24]:
# Using a built-in method extract the substring starting at index 8 and running up to but not including index 10.

var = 'growth mentor'
var[8:9]

'e'

Read More: [String Methods](https://docs.python.org/3/library/stdtypes.html#string-methods)

**TODO:**
1. Take a user input, convert the first character of each word to upper case, split the string every whitespace and join all the strings with a plus character (+)

In [27]:
#######################################################
################### Challenge 6 #######################
#######################################################

# Take a user input, convert the first character of each word to upper case,
# split the string every whitespace and join all the strings with a plus character (+)


# The beginner's way is to start using indexing and create a variable for each word then join them together with '+'. Which is not wrong!
# But not that efficient nor generic. This comes with practice and exercising lots of coding.

# Hint:Solution 1
# With hardcoded input
input="hello world"
input.capitalize()


# Hint:Solution 2
# With read-out from the keyboard

'Hello world'

<a id='collections'></a>
### Lists, Tuples, Sets, & Dictionaries

#### Lists

Lists are one of the most powerful data types in Python. Lists are used for storing similar items, and in cases where items need to be added or removed.

In [12]:
# Create an empty list
# Hint: there are 2 ways of doing it
empty_list=[]

In [15]:
# Searching a list
my_hobby_list = ["cooking", "travelling", "teaching"]

# Print out if "cooking" is present among the items in the my_hobby_list
#print(my_hobby_list["cooking"])

# Add the item of "dancing" to the end of the my_hobby_list
my_hobby_list.append("dancing")
print(my_hobby_list)

# Insert item "sleeping" after "travelling" by making use of a built-in function
my_hobby_list.insert(2,"sleeping")
print(my_hobby_list)
# Print out the second item in the my_hobby_list
print(my_hobby_list[1])

# Replace first item in the list with "eating"
my_hobby_list[my_hobby_list.index('cooking')]= 'eating'
print(my_hobby_list)

# Order the list in alphabetical order from A to Z
my_hobby_list.sort()
print(my_hobby_list)

# Remove an item from the last position
my_hobby_list.remove('travelling')
print(my_hobby_list)

['cooking', 'travelling', 'teaching', 'dancing']
['cooking', 'travelling', 'sleeping', 'teaching', 'dancing']
travelling
['eating', 'travelling', 'sleeping', 'teaching', 'dancing']
['dancing', 'eating', 'sleeping', 'teaching', 'travelling']
['dancing', 'eating', 'sleeping', 'teaching']

**Common List Errors**

In [16]:
# Fix the list syntax below so that it contains 3 items: Jane, Alex, Sandra
first_names = ["Jane", "Alex", "Sandra"]
print(first_names)

['Jane', 'Alex', 'Sandra']

<details>
<summary><b>Pro Tip</b> (Click to Expand)</summary>
To find out the built in methods for strings, lists, tuples, sets and dictionaries by typing dir(). dir() returns a list of valid attributes for an object, so you can quickly see what variables an object has or what functions you can call on it. Ignore the methods that start with underscores. 
    
help() brings up helpful documentation on any object. You can also type help() on its own to bring an interactive help console.
</details>

In [19]:
#######################################################
################### Challenge 7 #######################
#######################################################

# Print out the built in functions for lists.

#### Tuples

**Tuple** is a list that is immutable. It is used for storing a snapshot of related items when we don’t plan on modifying, adding, or removing data. Tuples can be used in other types of containers like sets and dictionaries
Remember that because Tuples are immutable,
1. we can’t add or remove from tuples and
2. we can't sort tuples

In [10]:
# Create an empty tuple
empty_tuple = ()

student_tuple = ("Victoria", 24, "Computer Science major", 4.5)
# Display second item of the student_tuple
print(student_tuple[1])


# Unpack the student_tuple into the following variables: name, age, department, grade
(name, age, department, grade) = student_tuple
print(name)
print(age)
print(department)
print(grade)

24
Victoria
24
Computer Science major
4.5

**TODO:**
1. Print out the built in functions for tuples.
2.

In [ ]:
#######################################################
################### Challenge 8 #######################
#######################################################

# Print out the built in functions for tuples.

#### Sets

Sets are a datatype that allows you to store other immutable types in an unordered way. Sets ensure that there are no duplicates and all items are unique.

In [30]:
# Create an empty set
emptyset = {}


# How many "water" items does the farming_set have below?
farming_set = {"tractor", "plants", "water", "sunlight", "plants", "water", "cutlass"}


# Add "harvester" to the set
farming_set.add("harvester")


# remove cutlass" from the set
farming_set.discard("cutlass")
print(farming_set)

{'plants', 'water', 'harvester', 'tractor', 'sunlight'}

#### Dictionaries

Dictionary is used for storing data in key, value pairs. Keys used must be immutable data types.

In [12]:
# Create a new empty dictionary
new_dict= dict()

#Search for key 3 in the dicitonary below and print the value
my_fitness_dict = {1: "football", 2: "cricket", 3: "table tennis", 4: "volleyball"}


# get the items in a dictionary
my_fitness_dict.items()

# get the keys in a dictionary
my_fitness_dict.keys()

# get the values in a dictionary
my_fitness_dict.values()

# get the length of a dictionary
len(my_fitness_dict)

4

**Common Dictionary Errors**

In [19]:
#Fix the print statement below (trying to access an item by index)
students = {"Jane": "History", "Ada": "Biology", "William":"Political Science"}
print(students[3])

TypeError: ignored

**TODO:**
1. Print out the built in functions for dictionaries.

In [ ]:
#######################################################
################### Challenge 8 #######################
#######################################################

# Print out the built in functions for dictionaries.

<a id='further-reading'></a>
#### For Further Reading:

- [Python Official Documentation](https://docs.python.org/3/)
- [Jupyter Tips & Tricks 1](https://medium.com/ibm-data-science-experience/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed)
- [Jupyter Tips & Tricks 2](https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/)
- [Python Wiki](https://wiki.python.org/moin/FrontPage)

# More challenges

In [20]:
#######################################################
################### Challenge 9 #######################
#######################################################

# Given a string of even length, return the first half. For example, if the string is given as "WooHoo" this will yield "Woo".
string = 'WooHoo'
print(string[0:len(string)//2])

Woo

In [22]:
#######################################################
################### Challenge 10#######################
#######################################################

# Write a sorting algorithm for a numerical dataset. Create the dataset with the use of list datatype.

random_nmbrs = [324,12344,5,6456,2,46,6]

In [ ]:
########################################################
################### Challenge 11 #######################
########################################################

#  Which one of these is floor division?
# a) /
# b) //
# c) %
# d) None of the mentioned

# Solution: b

In [ ]:
#  Suppose list1 is [2, 33, 222, 14, 25], What is list1[-1]? 33 How many elements does the list have? 5

list1 = [2, 33, 222, 14, 25]